@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(48, 48, 48);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: 1rem;
    margin: 2vh auto;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.25rem;
}

.game {
    display: flex;
    width: 100%;
    height: 70vh;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: solid white 2px;
    width: 100%;
    height: 100%;
}

.player button, .computer div {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: inherit;
    width: 10vw;
    min-width: 150px;
    padding: 20px;
    border: solid white 2px;
    border-radius: 5px;
}

.player button:hover {
    background-color: transparent;
    color: white;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: black;
    font-size: 1em;
    text-align: center;
}

.invisible {
    display: none;
}

.restart {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.restart p {
    text-align: center;
    font-size: 1.2rem;
}

.restart-btn {
    padding: 20px;
    border: solid whitesmoke 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-btn:hover {
    transform: scale(1.2, 1.2);
}

.restart-btn img {
    width: 50px;
    height: 50px;
}


/* Desktop Version */
@media screen and (min-width: 770px) {
    .score {
        padding: 15px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .player, .computer {
        gap: 50px;
    }
    .player button, .computer div {
        font-size: 1.7rem;
        width: 15vw;
        min-width: 160px;

    }
    .message {
        font-size: 2em;
    }
    .restart {
        gap: 30px;
    }
    .restart p {
        font-size: 2rem;
    }
}